

/*

Table of Contents:

1. Body
    2. Header / .nav
    3. Main / #main
        3.1. First Page / #page-one
          3.1.1. Image & its caption / #img-div
          3.1.2. Intro Name / # page1left
        3.2. Second Page / #page-two
          3.2.1. Left Information / #left-Info
          3.2.2. Right Information / #right-Info
        3.3. Third Page / #page-three
            3.3.1. First grid / #first-grid
            3.3.2. Second grid / #second-grid
        3.4. Forth Page / #page-four

    4. Footer / #footer
    5. Media Queries
  */






/*
*******************************************************************************
1. Body
*******************************************************************************
*/





/*
*******************************************************************************
2. Header / .nav
*******************************************************************************
*/



.nav {
    border-bottom: 1px solid #EAEAEB;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.burger-menu {
    width: 100%;

}


.menu {
    margin: 0 1em 0 0;
    text-align: right;
    height: 100%;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
    text-align: right;
    text-transform: uppercase;
    font-family: sans-serif;

}

label {
    margin: 0 1em 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

.logo {
  position: fixed;
  margin: 0 0 0 1em;
  height: inherit;
  padding: 0;
}

.fullname {
  margin: 0;
  line-height: 2em;
  word-wrap: nowrap;
}




/*
*******************************************************************************
3. Main / #main
*******************************************************************************
*/








/*
*******************************************************************************
3.1. First Page / #page-one
*******************************************************************************
*/







/*
*******************************************************************************
3.1.1. Image & its caption / #img-div
*******************************************************************************
*/






/*
*******************************************************************************
3.1.2. Intro Name / # page1left
*******************************************************************************
*/





/*
*******************************************************************************
3.2. Second Page / #page-two
*******************************************************************************
*/





/*
*******************************************************************************
3.2.1. Left Information / #left-Info
*******************************************************************************
*/





/*
*******************************************************************************
3.2.2. Right Information / #right-Info
*******************************************************************************
*/





/*
*******************************************************************************
3.3. Third Page / #page-three
*******************************************************************************
*/





/*
*******************************************************************************
3.3.1. First grid / #first-grid
*******************************************************************************
*/




/*
*******************************************************************************
3.3.2. Second grid / #second-grid
*******************************************************************************
*/






/*
*******************************************************************************
3.4. Forth Page / #page-four
*******************************************************************************
*/








/*
*******************************************************************************
4. Footer / #footer
*******************************************************************************
*/









/*
*******************************************************************************
5. Media Queries
*******************************************************************************
*/


@media only screen and (max-width: 500px) {

/* From 2. Header  */

    label {
        display: block;
        cursor: pointer;
        height: 100%;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #dfdfdf;
        margin: 0;
        text-align: center;
        background-color: whitesmoke;
    }

    #toggle:checked + .menu {
        display: block;
    }


}
