

/*

Table of Contents:

1. Body
    2. Header / .nav
    3. Main / #main
        3.1. First Page / #page-one
          3.1.1. Image & its caption / #img-div
          3.1.2. Intro Name / #name-div
        3.2. Second Page / #page-two
          3.2.1. Left Information / #left-Info
          3.2.2. Right Information / #right-Info
        3.3. Third Page / #page-three
            3.3.1. First grid / #first-grid
            3.3.2. Second grid / #second-grid
        3.4. Forth Page / #page-four

    4. Footer / #footer
    5. Media Queries
  */






/*
*******************************************************************************
1. Body
*******************************************************************************
*/

body {
  margin: 0;
}

/*
*******************************************************************************
2. Header / .nav
*******************************************************************************
*/


.nav {
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0.01em 0.9em rgb(183, 161, 145, 70%);
}

.burger-menu {
    width: 100%;
}


.menu {
    margin: 0 2em 0 0;
    text-align: right;
    height: 100%;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #707070;
    margin: 0 0 0 20px;
    line-height: 70px;
    text-align: right;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: calc(0.5em + 0.3vw);
    letter-spacing: 0.3em;
    height: inherit;
}

label {
    margin: 0 1em 0 0;
    font-size: calc(1.1em + 2vw);
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

.logo {
  position: fixed;
  margin: 0 0 0 2em;
  height: inherit;
  padding: 0;
  text-decoration: none;
  font-size: calc(0.5em + 0.7vw);
  display: table;
}

.logo .fullname {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

/* fullname class is in the header and in the firstpage */
.fullname {
  font-family: Damion;
  color: #C98686;
}

.ayoob-name {
  color: #966B9D;
}


/*
--------------
for Animation
--------------
*/


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}





/*
*******************************************************************************
3. Main / #main
*******************************************************************************
*/

main {
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: #FFF4EC;

}

.page {
  padding-top: 20vh;

}






/*
*******************************************************************************
3.1. First Page / #page-one
*******************************************************************************
*/

#page-one {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 0;

}


/*
*******************************************************************************
3.1.1. Image & its caption / #img-div
*******************************************************************************
*/

#img-div{
  margin: 1em;
}

#image {
  width: calc(7em + 20vw);
}







/*
*******************************************************************************
3.1.2. Intro Name / #name-div
*******************************************************************************
*/

#name-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

#title {
  font-size: calc(3rem + 2vw);
  white-space: nowrap;
  margin: 0;
}

#name-div p {
  color: #707070;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: calc(0.5em + 0.4vw);
  letter-spacing: 1em;
  margin: 0.2em 0 0 0;
}



/*
*******************************************************************************
3.2. Second Page / #page-two
*******************************************************************************
*/





/*
*******************************************************************************
3.2.1. Left Information / #left-Info
*******************************************************************************
*/





/*
*******************************************************************************
3.2.2. Right Information / #right-Info
*******************************************************************************
*/





/*
*******************************************************************************
3.3. Third Page / #page-three
*******************************************************************************
*/





/*
*******************************************************************************
3.3.1. First grid / #first-grid
*******************************************************************************
*/




/*
*******************************************************************************
3.3.2. Second grid / #second-grid
*******************************************************************************
*/






/*
*******************************************************************************
3.4. Forth Page / #page-four
*******************************************************************************
*/








/*
*******************************************************************************
4. Footer / #footer
*******************************************************************************
*/









/*
*******************************************************************************
5. Media Queries
*******************************************************************************
*/


@media only screen and (max-width: 540px) {

/* From 2. Header  */


    label {
        display: block;
        cursor: pointer;
        height: 100%;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        z-index: 10;
    }

    .menu a {
        display: block;
        border: 1px solid #dfdfdf;
        margin: 0;
        text-align: center;
        background-color: whitesmoke;
    }

    #toggle:checked + .menu {
        display: block;
    }


/* From 3. First Page */

  #page-one {
    flex-direction: column;
    justify-content: center;

  }

  #name-div {
    margin: 0;
  }

  #title {
    font-size: calc(2rem + 2vw);
  }






}
